.version.dop /* version checker */
{
	color: #0000F6;
	background-color: #CB60C1;
}

#page
{
	border-width: 0px;
	margin-right: auto;
	z-index: 1;
	margin-left: auto;
	border-color: #000000;
	width: 100%;
	background: transparent url("../images/27_bg_fon.jpg") repeat left top;
}

#u596
{
	z-index: 2;
	position: relative;
	margin-left: 50%;
}

#menuu219
{
	z-index: 59;
	position: relative;
}

#u220,#u227,#u265,#u286,#u307
{
	min-height: 34px;
	margin-right: -10000px;
	position: relative;
}

#u223,#u228,#u266,#u287,#u308
{
	width: 100%;
	padding-bottom: 12px;
	position: relative;
}

#u223:hover,#u223:active,#u223.MuseMenuActive,#u228:hover,#u228:active,#u228.MuseMenuActive,#u266:hover,#u266:active,#u266.MuseMenuActive,#u287:hover,#u287:active,#u287.MuseMenuActive,#u308:hover,#u308:active,#u308.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u224-4,#u230-4,#u267-4,#u289-4,#u311-4
{
	width: 100%;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
	position: relative;
}

#u223:hover #u224-4,#u223:active #u224-4,#u223.MuseMenuActive #u224-4,#u228:hover #u230-4,#u228:active #u230-4,#u228.MuseMenuActive #u230-4,#u266:hover #u267-4,#u266:active #u267-4,#u266.MuseMenuActive #u267-4,#u287:hover #u289-4,#u287:active #u289-4,#u287.MuseMenuActive #u289-4,#u308:hover #u311-4,#u308:active #u311-4,#u308.MuseMenuActive #u311-4
{
	width: 100%;
	min-height: 22px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0px -10000px 0px 0%;
}

#slideshowu668
{
	z-index: 30;
	position: relative;
	width: 0.01px;
	margin-left: 50%;
}

#u673popup
{
	z-index: 31;
}

#u678
{
	margin-right: -10000px;
	z-index: 32;
	position: relative;
}

#u787
{
	margin-right: -10000px;
	z-index: 34;
	position: relative;
}

#u807
{
	margin-right: -10000px;
	z-index: 36;
	position: relative;
}

#u673,#u669
{
	position: absolute;
}

#u669popup
{
	z-index: 38;
}

#u670-4
{
	padding: 10px;
	min-height: 25px;
	margin-right: -10000px;
	z-index: 39;
	position: relative;
}

#u799-4
{
	padding: 10px;
	min-height: 25px;
	margin-right: -10000px;
	z-index: 43;
	position: relative;
}

#u819-4
{
	padding: 10px;
	min-height: 25px;
	margin-right: -10000px;
	z-index: 47;
	position: relative;
}

#u681-4popup
{
	z-index: 51;
}

#u681-4,#u683-4
{
	padding: 10px;
	min-height: 25px;
	position: absolute;
	width: 10px;
}

#u683-4popup
{
	z-index: 55;
}

#pu839
{
	margin-right: -10000px;
}

#u839
{
	z-index: 90;
	position: relative;
}

#u665-26
{
	min-height: 598px;
	margin-right: -10000px;
	z-index: 4;
	position: relative;
}

#u833-10
{
	border-width: 1px;
	background-color: transparent;
	min-height: 403px;
	z-index: 91;
	position: relative;
	border-color: #A75422;
	border-style: solid;
	font-size: 24px;
	line-height: 29px;
}

#u833,#u833-2,#u833-3,#u833-5,#u833-7
{
	text-align: center;
}

#u833-8
{
	font-weight: normal;
}

.html
{
	background: #FFFFFF url("../images/27_bg_fon.jpg") repeat left top scroll;
}

body
{
	padding-bottom: 24px;
	position: relative;
}

@media (min-width: 1441px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 1052px;
		padding-bottom: 10px;
		max-width: 1500px;
	}

	#pu596
	{
		margin-right: -10000px;
		margin-top: 1px;
		width: 93.34%;
		margin-left: 3.34%;
	}

	#u596
	{
		width: 1400px;
		left: -700.0000000000001px;
	}

	#slideshowu668
	{
		height: 254px;
		left: -700.0000000000001px;
	}

	#u673,#u678,#u787,#u807
	{
		width: 1400px;
		height: 253px;
	}

	#u669
	{
		width: 1400px;
		top: 209px;
	}

	#u670-4,#u799-4,#u819-4
	{
		width: 1380px;
	}

	#u681-4
	{
		top: 209px;
	}

	#u683-4
	{
		top: 209px;
		left: 1370px;
	}

	#pu839
	{
		padding-bottom: 0px;
		margin-top: 111px;
		width: 93.34%;
		margin-left: 3.34%;
	}

	#u839
	{
		min-height: 60px;
		width: 4.36%;
		margin-left: 35.22%;
	}

	#menuu219
	{
		margin-top: 21px;
		width: 85.08%;
		margin-left: 8.22%;
	}

	#u220
	{
		width: 19.82%;
	}

	#u227
	{
		width: 19.82%;
		left: 19.99%;
	}

	#u265
	{
		width: 19.9%;
		left: 39.97%;
	}

	#u286
	{
		width: 19.9%;
		left: 60.04%;
	}

	#u307
	{
		width: 19.9%;
		left: 80.11%;
	}

	#pu665-26
	{
		margin-top: 228px;
		width: 100%;
	}

	#u665-26
	{
		width: 18.36%;
	}

	#u833-10
	{
		margin-right: -10000px;
		margin-top: 7px;
		width: 80.5%;
		left: 19.43%;
	}

}

@media (min-width: 1367px) and (max-width: 1440px)
{
	#muse_css_mq
	{
		background-color: #0005a0;
	}

	#bp_1440.active
	{
		display: block;
	}

	#page
	{
		min-height: 1045px;
		padding-bottom: 17px;
		max-width: 1440px;
	}

	#pu596
	{
		margin-right: -10000px;
		margin-top: 1px;
		width: 93.55%;
		margin-left: 3.23%;
	}

	#u596
	{
		width: 1346px;
		left: -672.4999999999999px;
	}

	#slideshowu668
	{
		height: 254px;
		left: -673.4999999999999px;
	}

	#u673,#u678,#u787,#u807
	{
		width: 1346px;
		height: 253px;
	}

	#u669
	{
		width: 1316px;
		top: 209px;
	}

	#u670-4,#u799-4,#u819-4
	{
		width: 1296px;
	}

	#u681-4
	{
		top: 209px;
	}

	#u683-4
	{
		top: 209px;
		left: 1316px;
	}

	#pu839
	{
		margin-top: 97px;
		width: 93.34%;
		margin-left: 3.34%;
	}

	#u839
	{
		min-height: 65px;
		width: 5.81%;
		margin-left: 35.42%;
	}

	#menuu219
	{
		margin-top: 22px;
		width: 85.05%;
		margin-left: 7.52%;
	}

	#u220
	{
		width: 19.87%;
	}

	#u227
	{
		width: 19.87%;
		left: 20.04%;
	}

	#u265
	{
		width: 19.87%;
		left: 40.07%;
	}

	#u286
	{
		width: 19.87%;
		left: 60.11%;
	}

	#u307
	{
		width: 19.87%;
		left: 80.14%;
	}

	#pu665-26
	{
		margin-top: 229px;
		width: 100%;
	}

	#u665-26
	{
		width: 18.38%;
	}

	#u833-10
	{
		margin-right: -10000px;
		margin-top: 14px;
		width: 80.51%;
		left: 19.42%;
	}

}

@media (min-width: 1281px) and (max-width: 1366px)
{
	#muse_css_mq
	{
		background-color: #000556;
	}

	#bp_1366.active
	{
		display: block;
	}

	#page
	{
		min-height: 1035px;
		padding-bottom: 27px;
		max-width: 1366px;
	}

	#u596
	{
		width: 1275px;
		margin-right: -10000px;
		margin-top: 1px;
		left: -637px;
	}

	#menuu219
	{
		margin-right: -10000px;
		margin-top: 178px;
		width: 93.34%;
		left: 3.3%;
	}

	#u220
	{
		width: 19.85%;
	}

	#u227
	{
		width: 19.85%;
		left: 20%;
	}

	#u265
	{
		width: 19.85%;
		left: 40%;
	}

	#u286
	{
		width: 19.85%;
		left: 60%;
	}

	#u307
	{
		width: 19.93%;
		left: 80%;
	}

	#slideshowu668
	{
		height: 254px;
		margin-right: -10000px;
		margin-top: 183px;
		left: -638px;
	}

	#u673,#u678,#u787,#u807
	{
		width: 1275px;
		height: 253px;
	}

	#u669
	{
		width: 1215px;
		top: 209px;
		left: 30px;
	}

	#u670-4,#u799-4,#u819-4
	{
		width: 1195px;
	}

	#u681-4
	{
		top: 209px;
	}

	#u683-4
	{
		top: 209px;
		left: 1245px;
	}

	#u665-26
	{
		margin-top: 437px;
		width: 17.14%;
		left: 3.3%;
	}

	#pu839
	{
		margin-top: 92px;
		width: 75.26%;
		margin-left: 21.45%;
	}

	#u839
	{
		min-height: 56px;
		width: 5.45%;
		margin-left: 19.65%;
	}

	#u833-10
	{
		margin-top: 313px;
		width: 99.81%;
	}

}

@media (min-width: 963px) and (max-width: 1280px)
{
	#muse_css_mq
	{
		background-color: #000500;
	}

	#bp_1280.active
	{
		display: block;
	}

	#page
	{
		min-height: 1023px;
		padding-bottom: 39px;
		max-width: 1280px;
	}

	#u596
	{
		width: 1195px;
		margin-right: -10000px;
		margin-top: 1px;
		left: -597px;
	}

	#menuu219
	{
		margin-right: -10000px;
		margin-top: 160px;
		width: 93.52%;
		left: 3.29%;
	}

	#u220
	{
		width: 19.8%;
	}

	#u227
	{
		width: 19.89%;
		left: 19.97%;
	}

	#u265
	{
		width: 19.89%;
		left: 40.02%;
	}

	#u286
	{
		width: 19.89%;
		left: 60.07%;
	}

	#u307
	{
		width: 19.89%;
		left: 80.12%;
	}

	#slideshowu668
	{
		height: 253px;
		margin-right: -10000px;
		margin-top: 172px;
		left: -598px;
	}

	#u673,#u678,#u787,#u807
	{
		width: 1195px;
		height: 253px;
	}

	#u669
	{
		width: 1133px;
		top: 208px;
		left: 32px;
	}

	#u670-4,#u799-4,#u819-4
	{
		width: 1113px;
	}

	#u681-4
	{
		top: 208px;
		left: 2px;
	}

	#u683-4
	{
		top: 208px;
		left: 1165px;
	}

	#u665-26
	{
		margin-top: 425px;
		width: 17.11%;
		left: 3.29%;
	}

	#pu839
	{
		margin-top: 86px;
		width: 75.32%;
		margin-left: 21.49%;
	}

	#u839
	{
		min-height: 58px;
		width: 6.54%;
		margin-left: 18.88%;
	}

	#u833-10
	{
		margin-top: 317px;
		width: 99.8%;
	}

}

@media (max-width: 962px)
{
	#muse_css_mq
	{
		background-color: #0003c2;
	}

	#bp_962.active
	{
		display: block;
	}

	#page
	{
		min-height: 1014px;
		padding-bottom: 48px;
		max-width: 962px;
	}

	#u596
	{
		width: 898px;
		margin-right: -10000px;
		margin-top: 1px;
		left: -449px;
	}

	#menuu219
	{
		margin-right: -10000px;
		margin-top: 129px;
		width: 93.56%;
		left: 3.33%;
	}

	#u220
	{
		width: 19.78%;
	}

	#u227
	{
		width: 19.78%;
		left: 20%;
	}

	#u265
	{
		width: 19.78%;
		left: 40%;
	}

	#u286
	{
		width: 19.78%;
		left: 60%;
	}

	#u307
	{
		width: 19.89%;
		left: 80%;
	}

	#slideshowu668
	{
		height: 184px;
		margin-right: -10000px;
		margin-top: 163px;
		left: -449px;
	}

	#u673,#u678,#u787,#u807
	{
		width: 898px;
		height: 139px;
	}

	#u669
	{
		width: 866px;
		top: 139px;
		left: 17px;
	}

	#u670-4,#u799-4,#u819-4
	{
		width: 846px;
	}

	#u681-4
	{
		top: 139px;
		left: 2px;
	}

	#u683-4
	{
		top: 139px;
		left: 868px;
	}

	#pu839
	{
		padding-bottom: 0px;
		margin-top: 65px;
		width: 93.35%;
		margin-left: 3.33%;
	}

	#u839
	{
		min-height: 52px;
		width: 5.8%;
		margin-left: 34.86%;
	}

	#pu665-26
	{
		margin-top: 226px;
		width: 100%;
	}

	#u665-26
	{
		width: 20.49%;
	}

	#u833-10
	{
		margin-right: -10000px;
		margin-top: 114px;
		width: 80.41%;
		left: 19.38%;
	}

	body
	{
		min-width: 320px;
	}

}

