#menuu219
{
	border-width: 0px;
	background-color: #2468FF;
	border-color: transparent;
	border-radius: 10px;
}

#u224-4
{
	border-width: 0px;
	color: #FFFFFF;
	font-size: 18px;
	border-color: transparent;
	letter-spacing: 2px;
	background-color: transparent;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	line-height: 22px;
}

#u223,#u228,#u266,#u287,#u308
{
	background-color: #2468FF;
}

#u223:hover,#u228:hover,#u266:hover,#u287:hover,#u308:hover
{
	background-color: #A8541A;
}

#u223:active,#u228:active,#u266:active,#u287:active,#u308:active
{
	background-color: #A85621;
}

#u223.MuseMenuActive,#u228.MuseMenuActive,#u266.MuseMenuActive,#u287.MuseMenuActive,#u308.MuseMenuActive
{
	background-color: #AC5A26;
}

#u230-4,#u267-4,#u289-4,#u311-4
{
	border-width: 0px;
	color: #FFFFFF;
	font-size: 18px;
	border-color: transparent;
	letter-spacing: 2px;
	background-color: transparent;
	text-align: center;
	line-height: 22px;
}

#u596,#u220,#u227,#u265,#u286,#u307,#u673,#u669
{
	background-color: transparent;
}

#u670-4,#u799-4,#u819-4
{
	border-width: 0px;
	border-color: transparent;
	color: #000000;
	filter: alpha(opacity=37);
	opacity: 0.37;
	line-height: 25px;
	text-align: center;
	font-size: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	background-color: #C6692C;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=37)";
}

#u681-4,#u683-4
{
	border-width: 0px;
	text-align: center;
	font-size: 18px;
	border-color: transparent;
	line-height: 25px;
	color: #000000;
	background-color: #2468FF;
	filter: alpha(opacity=70);
	opacity: 0.7;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u665-26
{
	text-indent: 2px;
	text-align: center;
	font-size: 24px;
	border-radius: 18px;
	font-weight: bold;
	letter-spacing: 7px;
	background-color: #FFFFFF;
	line-height: 29px;
}

#u665-11,#u665-16
{
	letter-spacing: 5px;
}

#u665-17,#u665-18,#u665-20,#u665-21,#u665-23
{
	color: #A65224;
}

#u678,#u787,#u807,#u839
{
	border-width: 0px;
	background-color: transparent;
	border-color: transparent;
}






