	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 882px;
		padding-top: 1px;
		padding-bottom: 179px;
		max-width: 1500px;
	}

	#pu596
	{
		width: 93.34%;
		margin-left: 3.34%;
	}

	#slideshowu668
	{
		height: 254px;
		margin-right: -10000px;
		margin-top: 200px;
	}

	#u673,#u678,#u787,#u807
	{
		width: 1400px;
		height: 253px;
	}

	#u669
	{
		width: 1400px;
		top: 209px;
	}

	#u670-4,#u799-4,#u819-4
	{
		width: 1380px;
	}

	#u681-4
	{
		top: 209px;
	}

	#u683-4
	{
		top: 209px;
		left: 1370px;
	}

	#menuu219
	{
		z-index: 62;
		margin-right: -10000px;
		margin-top: 191px;
		width: 85.08%;
		left: 8.15%;
	}

	#u220
	{
		width: 19.82%;
	}

	#u227
	{
		width: 19.82%;
		left: 19.99%;
	}

	#u265
	{
		width: 19.9%;
		left: 39.97%;
	}

	#u286
	{
		width: 19.9%;
		left: 60.04%;
	}

	#u307
	{
		width: 19.9%;
		left: 80.11%;
	}

	#u839
	{
		min-height: 60px;
		margin-right: -10000px;
		margin-top: 110px;
		width: 4.36%;
		left: 35.22%;
	}

	#pu665-29
	{
		margin-top: -1px;
		width: 93.2%;
		margin-left: 3.34%;
	}

	#u665-29
	{
		width: 18.39%;
	}

	#u830-51
	{
		margin-bottom: -1px;
		margin-right: -10000px;
		margin-top: 12px;
		width: 80.62%;
		left: 19.32%;
	}

	#u596,#u596_img
	{
		width: 100%;
	}

