	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 993px;
		padding-bottom: 168px;
		max-width: 1500px;
	}

	#u596
	{
		width: 1400px;
		margin-left: -700px;
	}

	#slideshowu668
	{
		height: 254px;
		margin-top: 201px;
		left: -700px;
	}

	#u673,#u678,#u787,#u807
	{
		width: 1400px;
		height: 253px;
	}

	#u669
	{
		width: 1400px;
		top: 209px;
	}

	#u670-4,#u799-4,#u819-4
	{
		width: 1380px;
	}

	#u681-4
	{
		top: 209px;
	}

	#u683-4
	{
		top: 209px;
		left: 1370px;
	}

	#pu839
	{
		margin-top: 111px;
		width: 87.07%;
		margin-left: 3.34%;
	}

	#u839
	{
		min-height: 60px;
		width: 4.68%;
		margin-left: 37.75%;
	}

	#menuu219
	{
		z-index: 59;
		margin-top: 21px;
		width: 91.2%;
		margin-left: 8.81%;
	}

	#u220
	{
		width: 19.82%;
	}

	#u227
	{
		width: 19.82%;
		left: 19.99%;
	}

	#u265
	{
		width: 19.9%;
		left: 39.97%;
	}

	#u286
	{
		width: 19.9%;
		left: 60.04%;
	}

	#u307
	{
		width: 19.9%;
		left: 80.11%;
	}

	#pu665-26
	{
		margin-top: 228px;
		width: 96.87%;
	}

	#u665-26
	{
		width: 20.32%;
	}

	#u659
	{
		margin-right: -10000px;
		margin-top: 2px;
		width: 69.1%;
		left: 30.84%;
	}

	#u660-33
	{
		width: 98.17%;
		left: 0.69%;
	}


